Package: siakhooi-devutils
Version: 1.4.0
Maintainer: Siak Hooi <siakhooi@gmail.com>
Depends: siakhooi-echo-colors, siakhooi-date-formats, siakhooi-textutils, siakhooi-fileutils
Architecture: amd64
Homepage: <https://github.com/siakhooi/devutils>
Description: parent package for all siakhooi-devutils-* packages.
